body{
    background-color: aquamarine;
}

#container{
    background-color: grey;
    width: 700px;
    margin: auto;
    border: 4px solid black;
}

#myTitle{
    font-size: 20px;
    padding: 10px 200px;
}
#myImage{
    padding:15px 160px;
    grid-template-columns: auto auto;
    display: grid;
}
#myInfo{
    padding: 10px 160px;
}

button{
    background-color: whitesmoke;
    font-size: 18px;
    border: 2px solid black
    
}